@model LoginViewModel

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "setContent()" }))
{
    <div class="row">
        <div class="col-12" style="text-align:center">
            Username:
            @Html.TextBoxFor(m => m.UserName)
            <br />
            <br />
            Password:
            <input asp-for="Password" type="password" />
            <br />
            <br />
            <input type="submit" value="Login" />
        </div>
    </div>

    <div class="row">
        <div class="col-12" style="text-align:center">
            <p>No account yet?</p>
            <a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </div>
    </div>
}

<div class="col-12 text-danger text-center">
    @Html.ValidationMessageFor(m => m.UserName)
    @Html.ValidationMessageFor(m => m.Password)
</div>

@if (Convert.ToBoolean(TempData["Error"]))
{
    <script>
        alert("Something went wrong");
    </script>
}