@model LoginViewModel


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "setContent()" }))
{
    <div class="row">
        <div class="col-12" style="text-align:center">
            Username:
            @Html.TextBoxFor(m => m.UserName)
            <br />
            <br />
            Password:
            @Html.TextBoxFor(m => m.Password)
            <br />
            <br />
            <input type="submit" value="Register" />
        </div>
    </div>
    <div class="row text-danger text-center">
        <div class="col-12" style="text-align:center">
            @Html.ValidationMessageFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div> 
}