@model UserViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-3">

    </div>

    <div class="col-6">
        <h1>My training</h1>
    </div>

    <div class="col-3">

    </div>
</div>

<div class="row">
    <div class="col-3">

    </div>

    <div class="col-6">
        @foreach (var training in Model.Trainings)
        {
            <div class="card">
                <a asp-area="" asp-controller="Training" asp-action="TrainingDetail" asp-route-id="@training.TrainingID">
                    <label style="text-align:center; margin-bottom: 0px; padding-bottom:10px; padding-top:10px">@training.Date.ToShortDateString()</label>
                </a>
            </div>
        }
    </div>

    <div class="col-3">

    </div>
</div>

@if (Convert.ToBoolean(TempData["JustAddedTraining"]))
{
    <script>
        alert("Training succesfully added!");
    </script>
}

@if (Convert.ToBoolean(TempData["JustAddedExercise"]))
{
    <script>
        alert("Exercise succesfully added!");
    </script>
}

@if (Convert.ToBoolean(TempData["Error"]))
{
    <script>
        alert("Something went wrong");
    </script>
}